*{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
}

.btn:hover {
    background-color: inherit;
    color: #fff !important;
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

b{
    font-weight: bolder;
}

.container-banner{
    position: relative;
}

.form-ticket{
    width: 100%;
}

.students{
    width: fit-content;
}

.container-text-banner{
    display: flex;
    justify-content: start;
    flex-direction: column-reverse;
    position: absolute;
    width: 50%;
    max-width: 600px;
    top: 25%;
    bottom: 0;
    left: 50vw;
    right: 0;

}



.card-img-top{
    filter: brightness(0.5);
}

.bg-gray{
    background-color: #333a40;

}

.bg-lightgreen{
    background-color: #96c93e;
}

.gap-2{
    gap: 2rem;
}


.txt-green{
    color: #3d9153;
}

.txt-black{
    color: black;
}

.txt-md{
    font-size: 25px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 5%;
    gap: 5rem;
}

.justify-content{
    justify-content: center;
}

.navbar-logo{
    width: 40%;
    height: auto;
}

.background img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.card img{
    width: 100%;
    height: 300px;
}

.img-fit-container{
    width: 100%;
    object-fit: cover;
}

@media(max-width: 1400px){
    .card img{
        height: auto;
    }  
}

@media(min-width: 992px){
    .form-ticket{
        width: 775px;
    }
}


@media(max-width: 1200px){
    
    .nav-container-top{
        display: flex;
       /*  flex-direction: column; */
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    .footer-container{
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
    
    }

  
}


@media(max-width: 768px){
    .container-sm{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
    }
    .nav-container-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar-logo{
        width: 80%;
    }

}


@media(min-width: 576px) and (max-width: 986px){
    .container-text-banner{
        width: 70%;
        left: 15vw;
        right: 0;
    }
}

@media(max-width: 586px){
    .container-text-banner{
        display: flex;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        align-items: center; 
        left: 0;
    
    }
}
