@media(min-width: 768px){
    .container-buttons-end{
        gap: 1rem;
        justify-content: space-between;
    }
    
    #btnDelete{
        width: 46%;
    }
    
    #btnSummary{
        width: 46%;
    }

    #select-category-dropdown{
        width: 95%;
        margin-left: 0.6rem;
    }
}

